<div class="movie-box" onclick="window.location='<%= url_for collection %>'">
    <div class="movie-box-image">
        <% movie = collection.movies.first %>
        <%= link_to movie_thumb(movie, :class => 'movie-cover'), movie %>
    </div>
    <div class="movie-box-detail">
        <span class="movie-box-header"><%= link_to collection.name, collection %></span>
        <br/>
        <span style=""><%= collection.movie_count %> <%= "movie".pluralize collection.movie_count %></span>
    </div>
</div>
