<%= form_for(@movie_collection) do |f| %>
  <% if @movie_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_collection.errors.count, "error") %> prohibited this movie_collection from being saved:</h2>

      <ul>
      <% @movie_collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :backdrop_url %><br />
    <%= f.text_field :backdrop_url %>
  </div>
  <div class="field">
    <%= f.label :poster_url %><br />
    <%= f.text_field :poster_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
