<h1>Listing movie_collections</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movie_collections.each do |movie_collection| %>
  <tr>
    <td><%= movie_collection.name %></td>
    <td><%= link_to 'Show', movie_collection %></td>
    <td><%= link_to 'Edit', edit_movie_collection_path(movie_collection) %></td>
    <td><%= link_to 'Destroy', movie_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie collection', new_movie_collection_path %>
