<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @movie_collection.name %>
</p>

<table border="1">
    <% @movie_collection.movies.order(:sort_title).each_with_index do |movie, index| %>
        <% if index % 5 == 0 %>
            <% unless index == 0 %> </tr> <% end %>
            <tr>
        <% end %>
        <td><img src="<%=movie.thumb.url%>"></td>
    <% end %>
</table>


<%= link_to 'Edit', edit_movie_collection_path(@movie_collection) %> |
<%= link_to 'Back', movie_collections_path %>
