<div class="genre">
    <div class="genre-cover">
        <% album = genre.music_albums.first %>
        <%= link_to music_album_cover(album, :width => 100, :height => 100), album %>
    </div>
    <div class="genre-detail">
        <div><strong><%= link_to genre.name, genre %></strong></div>
        <div><small><%= genre.artist_count %> <%= td(:artist).pluralize genre.artist_count %>,
        <%= genre.album_count %> <%= td(:album).pluralize genre.album_count %>,
        <%= genre.song_count %> <%= td :songs %></small></div>
    </div>
</div>
