<h1>Listing music_songs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Track</th>
    <th>Length</th>
    <th>Vbr</th>
    <th>Bitrate</th>
    <th>Sample rate</th>
    <th>Channel mode</th>
    <th>Part</th>
    <th>Set</th>
    <th>File uri</th>
    <th>Music album</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @music_songs.each do |music_song| %>
  <tr>
    <td><%= music_song.title %></td>
    <td><%= music_song.track %></td>
    <td><%= music_song.length %></td>
    <td><%= music_song.vbr %></td>
    <td><%= music_song.bitrate %></td>
    <td><%= music_song.sample_rate %></td>
    <td><%= music_song.channel_mode %></td>
    <td><%= music_song.part %></td>
    <td><%= music_song.set %></td>
    <td><%= music_song.file_uri %></td>
    <td><%= music_song.music_album %></td>
    <td><%= link_to 'Show', music_song %></td>
    <td><%= link_to 'Edit', edit_music_song_path(music_song) %></td>
    <td><%= link_to 'Destroy', music_song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music song', new_music_song_path %>
