<h1><%= @movie.title %> <small><%= @movie.tagline %></small></h1>
<div style="position: relative; margin-bottom: 3px">
    <%= link_to movie_backdrop(@movie), stream_movie_url(@movie) %>
</div>
<div>
    <span class="label label-info">Rated <%= @movie.rating.upcase %></span>
    <span class="label label-info"><%= @movie.runtime %> mins</span>
    <span class="label label-info"><%= @movie.year %></span>
</div>
<p></p>
<div>
    <p><%= @movie.overview %></p>

    <dl>
        <dt>Staring</dt>
        <dd><%= raw @movie.cast.limit(5).map { |credit| link_to credit.name, credit.movie_member }.join(", ") %></dd>

        <dt>Director</dt>
        <dd><%= raw @movie.directors.map { |credit| link_to credit.name, credit.movie_member }.join(", ") %></dd>

        <dt>Genre</dt>
        <dd><%= raw @movie.genres.map { |genre| link_to genre.name, genre }.join(", ") %></dd>
    </dl>
</div>
