<h1><%= @member.name %></h1>
<div style="float: left; padding-right: 21px; padding-bottom: 13px">
    <%= member_profile(@member) %>
</div>
<div style="float: left">
    <table class="table table-bordered">
        <tr><th>Movie</th><th>Year</th><th>Role</th><th>Character</th></tr>
        <% @member.movie_credits.each do |credit| %>
            <tr><td><%= link_to credit.movie.title, credit.movie %></td><td><%= credit.movie.year %></td><td><%= credit.job %></td><td><%= credit.character %></td></tr>
        <% end %>
    </table>
</div>
