<h1>Listing movie_members</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movie_members.each do |movie_member| %>
  <tr>
    <td><%= movie_member.name %></td>
    <td><%= link_to 'Show', movie_member %></td>
    <td><%= link_to 'Edit', edit_movie_member_path(movie_member) %></td>
    <td><%= link_to 'Destroy', movie_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie member', new_movie_member_path %>
