<div class="artist" onclick="window.location='<%= url_for artist %>'">
    <div class="artist-image">
        <%= link_to music_artist_image(artist, :style => 'min-width: 126px; max-height: 150px'), artist %>
    </div>
    <div class="artist-detail">
        <div><%= link_to artist.name, artist %></div>
        <div><small><%= artist.album_count %> <%= td(:album).pluralize artist.album_count %>, <%= artist.song_count %> <%= td(:songs) %></small></div>
    </div>
</div>
