<h1><%= @artist.name %></h1>
<div>
    <%= raw @artist.music_genres.map { |genre| link_to genre.name, genre }.join(", ") %>
</div>
<div class="scroll section" style="padding-top: 3px; padding-right: 10px">
    <%= music_artist_large(@artist) %>
</div>
<div class="noscroll" style="display: table-cell">
    <%= render :collection => @artist.albums_by_date, :partial => 'music_albums/album' %>
</div>
<p></p>
<div>
    <%= link_to 'All Songs', songs_music_artist_path %>
    <ul><% @artist.performers.each do |credit| %>
    <li><%= link_to credit.name, credit.music_member %>
    <% end %></ul>
</div>
