<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @movie_image.url %>
</p>

<p>
  <b>Size:</b>
  <%= @movie_image.size %>
</p>

<p>
  <b>Aspect ratio:</b>
  <%= @movie_image.aspect_ratio %>
</p>

<p>
  <b>Width:</b>
  <%= @movie_image.width %>
</p>

<p>
  <b>Height:</b>
  <%= @movie_image.height %>
</p>

<p>
  <b>Language:</b>
  <%= @movie_image.language %>
</p>

<p>
  <b>Sort order:</b>
  <%= @movie_image.sort_order %>
</p>

<p>
  <b>Movie:</b>
  <%= @movie_image.movie %>
</p>

<p>
  <b>Movie collection:</b>
  <%= @movie_image.movie_collection %>
</p>


<%= link_to 'Edit', edit_movie_image_path(@movie_image) %> |
<%= link_to 'Back', movie_images_path %>
