<div class="movie-box" onclick="window.location='<%= url_for genre %>'">
    <div class="movie-box-image">
        <% movie = genre.movies.first %>
        <%= link_to movie_thumb(movie, :class => 'movie-cover'), movie %>
    </div>
    <div class="movie-box-detail">
        <span class="movie-box-header"><%= link_to genre.name, genre %></span>
        <br/>
        <span style=""><%= genre.movie_count %> <%= "movie".pluralize genre.movie_count %></span>
    </div>
</div>
