<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @movie_genre.name %>
</p>

<table border="1">
    <% @movie_genre.movies.order(:sort_title).each_with_index do |movie, index| %>
        <% if index % 5 == 0 %>
            <% unless index == 0 %> </tr> <% end %>
            <tr>
        <% end %>
        <td><img src="<%=movie.thumb.url%>"></td>
    <% end %>
</table>

<p>

</p>

<%= link_to 'Edit', edit_movie_genre_path(@movie_genre) %> |
<%= link_to 'Back', movie_genres_path %>
