<% unless @music_queue.empty? %>
    <% now_playing = @music_queue.first.music_song %>
    <table>
        <tr>
            <td>
                <%= music_song_cover(now_playing, :width => 100, :height => 100) %>
            </td>
            <td>
                <%= @music_queue.first.music_song.title %>
                <%= @music_queue.first.music_song.music_album.title %>
                <%= @music_queue.first.music_song.music_artist.name %>
                <p></p>
                <audio id="audio" controls="controls">
                    <source src="<%= stream_music_song_path @music_queue.first.music_song %>">
                    Your browser does not support the audio tag.
                </audio>
            </td>
        </tr>
    </table>

<% end %>

<hr>

<ul>
<% @music_queue[1..-1].each do |q| %>
   <li>
       <%= music_song_cover(q.music_song, :width => 100, :height => 100) %> <%= q.music_song.title %>
   </li>
<% end %>
</ul>