<div class="album" onclick="window.location='<%= url_for album %>'">
    <div class="album-cover">
        <%= link_to music_album_cover(album, :width => 100, :height => 100), album %>
    </div>
    <div class="album-detail">
        <div><strong><%= link_to truncate(album.title), album %></strong> (<%= album.original_year %>)</div>
        <div><em><%= truncate(album.music_artist.name) %></em></div>
        <div><small><%= album.total_tracks %> <%= td :songs %>, <%= mins(album.total_length) %> <%= td :mins %></small></div>
    </div>
</div>