<%= render :partial => 'shared/header' %>
<div class="container">
    <div>
        <%= link_to t(:all_movies), movies_path %> | <%= link_to t(:genres), movie_genres_path %> | <%= link_to t(:collections), movie_collections_path %>
    </div>
    <p></p>
    <%= yield %>
</div>
<%= render :partial => 'shared/footer' %>
