<%= render :partial => 'shared/header' %>
<div class="container">
    <div>
        <%= link_to t(:artists), music_artists_path %> | <%= link_to t(:albums), music_albums_path %> | <%= link_to t(:genres), music_genres_path %>
    </div>
    <%= yield %>
</div>
<%= render :partial => 'shared/footer' %>
